<nav>
  <div class="nav-wrapper">
    <a href="{% url 'dashboard' %}" class="brand-logo">YT Tools</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"
      ><i class="material-icons">menu</i></a
    >
    <ul class="right hide-on-med-and-down">
      <li><a href="sass.html">Dashboard</a></li>
      <li><a href="badges.html">Length</a></li>
      <li><a href="collapsible.html">Video</a></li>
      <li><a href="https://github.com/Prashant4900/yt-tools" target="_blank">GitHub</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
  <li><a href="badges.html">Length</a></li>
  <li><a href="collapsible.html">Video</a></li>
  <li><a href="https://github.com/Prashant4900/yt-tools" target="_blank">GitHub</a></li>
</ul>
