{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark nav">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold text-danger" href="http://127.0.0.1:8000/"
      >Youtube Search</a
    >
    <form class="d-flex">
      <a href="{% url 'dashboard' %}" class="nav-link text-white"
        >Dashboard</a
      >
      <a href="{% url 'dashboard' %}" class="nav-link text-white">Video</a>
      <a
        href="https://github.com/Prashant4900/yt-tools"
        target="_blank"
        class="nav-link text-white"
        >GitHub</a
      >
    </form>
  </div>
</nav>